.Body {
    min-height: 95%;
  }
  
  .Footer {
    position: absolute;
    background-color: #282c34;
    min-width: 100%;
    min-height: 10%; 
    bottom: 0;
  }
  
  .App-logo {
    height: 3em;
    pointer-events: none;
    padding: 10px 5em;
  }
  
  .App-header {
    padding: 5px;
    background-color: #282c34;
  }
  
  .App-link {
    color: #61dafb;
  }
  