.Body {
    min-height: 100%;
    color: $secondary;
  }
  
  .Footer {position: absolute;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 20px;
    background-color: $background-hf;
  }
  
  .App-logo {
    height: 3em;
    pointer-events: none;
    padding: 10px 5em;
  }
  
  .App-header {
    padding: 5px;
    background-color: $background-hf;
  }

  .submit_button{
    width: 200px;
  }
