.person_form_container{
    padding: 0 2%;
    display: block;
    margin: auto;
}
.person_form{
}
td{
    color: $secondary;
}

.confirmation-text{
    font-size: 1.1em;
}

.confirmation-component{
    margin: 5%;
}

.css-tlfecz-indicatorContainer{
    content:' <i aria-hidden="true" class="dropdown icon"></i>'
}

.css-1wa3eu0-placeholder{
    color : rgba(191,191,191,.87) !important;
}

.css-yk16xz-control{
    border-color: rgba(34,36,38,.15) !important;
}

.css-1pahdxg-control{
    box-shadow: none!important;
    border-color: #96c8da!important;
    
}

.css-1okebmr-indicatorSeparator{
    display: none!important;
}